<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/simple-sidebar.css">
    <script src="~/Scripts/jquery.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Main Page</a>
                </li>
                <li>
                    <a href="#">Projekt</a>
                </li>
                <li>
                    <a href="#">Programiści</a>
                </li>
                <li>
                    <a href="#">Terminy</a>
                </li>
                <li>
                    <a href="#">Ustawienia</a>
                </li>
                <li>
                    <a href="#">Wyloguj</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                      
                            @Html.ActionLink(" Harrier", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fa fa-fighter-jet", style = "font-size: 20px; word-spacing: 5px;" })
                            <span><a href="#menu-toggle" id="menu-toggle"><i style="margin-top: 8px; font-size: 34px;" class="fa fa-bars" aria-hidden="true"></i></a></span>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Dostępne projekty", "Index", "Project")</li>
                                <li>@Html.ActionLink("O aplikacji", "About", "Home")</li>
                                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
