@model PMS.Harrier.DataAccessLayer.Models.Developer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekAvailability)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeveloperId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
