@model List<PMS.Harrier.WebUI.ViewModels.AddDeveloperViewModel>

@{
    ViewBag.Title = "title";

}

<h2>Dodaj do projektu</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj osoby</h4>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>ProjectId</th>
                <th>DeveloperId</th>
                <th>Wybierz</th>
            </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.EditorFor(n => Model[i].FirstName)
                        </td>
                        <td>
                            @Html.EditorFor(n => Model[i].LastName)
                        </td>
                        <td>
                            @Html.EditorFor(n => Model[i].ProjectId)
                        </td>
                        <td>
                            @Html.EditorFor(n => Model[i].DeveloperId)
                        </td>
                        <td>
                            @Html.CheckBoxFor(n => Model[i].IsSelected)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <!-- Save button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Wróć", "Index", null, new {@class = "btn btn-default"})
        
    </div>
</div>
       