@model IList<PMS.Harrier.DataAccessLayer.ViewModels.ProjectViewModels.ProjectDeveloperViewModel>

@{
    ViewBag.Title = "title";

}

<h2>title</h2>
@using (Html.BeginForm())
{
    <table>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.TextBoxFor(n => Model[i].FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(n => Model[i].LastName)
                </td>
                <td>
                    @Html.TextBoxFor(n => Model[i].ProjectId)
                </td>
                <td>
                    @Html.TextBoxFor(n => Model[i].DeveloperId)
                </td>
                <td>
                    @Html.CheckBoxFor(n => Model[i].IsSelected)
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Zapisz" />
}