@model System.Collections.Generic.List<PMS.Harrier.DataAccessLayer.Models.Issue>

@{
    ViewBag.Title = "Dostępne zadania";
}

<h2>Dostępne zadania </h2>
@if (@ViewBag.TheResult == true)
{
    <div class="alert alert-success">
        Zadanie zostało przypisane do Ciebie!
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Nazwa zadania</th>
        <th>Opis</th>
        <th>Zlecający</th>
        <th>Wykonawca</th>
        <th>Operacje</th>
    </tr>
    
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Title </td>
                <td>@item.Description</td>
                <td>@Html.Action("GetDeveloperDetails", new {id = item.Reporter})</td>
                <td>
                    @(item.DeveloperId.HasValue ? Html.Action("GetDeveloperDetails", new {id = item.DeveloperId}) : Html.ActionLink("Przypisz do mnie", "AssignToMe", new {id = item.IssueId, projectId = item.ProjectId}, new {@class = "btn btn-default"}))



                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "IssueDetails", new {id = item.IssueId}, new {@class = "btn btn-default"})
                </td>

            </tr>
        }
    </tbody>

</table>
