@model PMS.Harrier.DataAccessLayer.Models.Project

@{
    ViewBag.Title = "Nowy projekt";
}

<h2>Nowy projekt</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Podaj wymagane dane</h4>
    <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(p => p.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(p => p.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>
}
