@model PMS.Harrier.WebUI.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<h2>@Model.ProjectName</h2>
<div>
    <h4>@Model.Description</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(p => p.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.ProjectName)
        </dd>

        <dt>
            @Html.LabelFor(p => p.Description)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.Description)
        </dd>

        <dt>
            @Html.LabelFor(p => p.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.StartDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Dodaj zadanie", "CreateIssue", new {id = Model.ProjectId}, new {@class = "btn btn-primary"})
    @Html.ActionLink("Zadania do wykonania", "AvailableIssues", new {id = Model.ProjectId}, new {@class = "btn btn-default"})
</div>