@model PMS.Harrier.DataAccessLayer.Models.Project

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>
<div>
    <h4>Projekt</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(p => p.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.ProjectName)
        </dd>

        <dt>
            @Html.LabelFor(p => p.Description)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.Description)
        </dd>

        <dt>
            @Html.LabelFor(p => p.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(p => p.StartDate)
        </dd>


    </dl>
</div>